.contact {
	background: #111;
	width: 100vw;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.contact-container {
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			margin-right: 5rem;
		}
	}
	.home-button {
    position: absolute;
    left: 2rem;
		top: 2rem;
		cursor: pointer;
    i {
      text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
        0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
      color: #fed128;
      &:hover {
        animation: button-flicker-1 2s linear;
        animation-fill-mode: forwards;
      }
    }
  }
	h1 {
    display: inline-block;
		font-family: neon2, cursive;
		color: white;
		font-size: 2em;
		margin-bottom: 2em;
  }
	a > i {
		width: 3rem;
		color: white;
		transition: 1s;
		&:hover {
			color: #fa1c16;
		}
	}
	.contact-text {
		a, h3 {
			text-decoration: none;
			color: white;
			font-family: sans-serif;
			line-height: 1.5rem;
			transition: .2s;
		}
	}
}
